/* Main */
.main {
  width: 100%;
  height: 100vh;
}

.bright {
  filter: brightness(0.5);
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: start;
  width: 70%;
  transform: translate(-50%, -50%);
}

.hero-title h3,
.hero-title p {
  color: #ddd;
}

.hero-title p {
  margin-bottom: 20px;
}

.hero-title .primary-btn-w:hover {
  color: #fff;
}

.hero-title .primary-btn-w::before {
  content: "VIEW MORE";
  color: #ddd;
  font-size: 16px;
}

.title-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Difference */

/* ========================================
   DIFFERENCE
======================================== */

.custom-wrap .section.difference {
  padding: 0;
}

.custom-wrap .section.difference .w-container {
  display: flex;
}

/* ========================================
   CONTENT COMMON
======================================== */

.difference .content {
  position: relative;
  width: 50%;
  padding: 120px 60px;
}

.difference .content .section-title {
  text-align: left;
}

.difference .content .section-title h2,
.difference .content .grid-item h5 {
  margin-bottom: 5px;
  color: #999;
}

/* ========================================
   OVERLAY TEXT
======================================== */

.difference .overlay-txt {
  position: absolute;
  z-index: 0;
  font-size: clamp(120px, 10vw, 240px);
  font-weight: 900;
  line-height: 0.75;
  letter-spacing: -5px;
  opacity: 0.05;
  pointer-events: none;
}

.difference .content.left .overlay-txt {
  top: 0;
  left: 0;
  color: #144a26;
}

.difference .content.right .overlay-txt {
  right: 0;
  bottom: 0;
  color: #f9f9f9;
  z-index: 1;
}

/* ========================================
   LEFT : MAKES A DIFFERENCE
======================================== */

.difference .content.left {
  background-color: var(--brand);
}

.difference .content.left .prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.difference .content.left .grid-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  aspect-ratio: 1;
  gap: 20px;

  text-align: center;

  border-radius: 50%;
}

/* Gradient Border */

.difference .content.left .grid-item::before {
  content: "";

  position: absolute;
  inset: 0;

  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    #00e5ff,
    #00c3ff 45%,
    rgba(0, 229, 255, 0.15) 70%,
    #00e5ff
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.difference .content.left .grid-item:nth-child(1) {
  transform: translate(8%, 8%);
}

.difference .content.left .grid-item:nth-child(2) {
  transform: translate(-8%, 8%);
}

.difference .content.left .grid-item:nth-child(3) {
  transform: translate(8%, -8%);
}

.difference .content.left .grid-item:nth-child(4) {
  transform: translate(-8%, -8%);
}

/* ========================================
   RIGHT : WITH WOOBO
======================================== */

.difference .content.right .prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  gap: 2px;

  background-color: #ddd;
}

.difference .content.right .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  aspect-ratio: 1;
  gap: 20px;

  text-align: center;

  background-color: #fff;
}

/* Number */

.difference .grid-num {
  padding: 12px;

  background-color: var(--point1);
  border-radius: 50%;
}

.difference .grid-num h4 {
  color: #fff;
}

/* Icon */

.difference .grid-img {
  width: 90px;
}

.difference .grid-img img {
  display: block;
  width: 100%;
}

/* ========================================
   RESPONSIVE : TABLET
======================================== */

@media (max-width: 1440px) {
  .custom-wrap .section.difference .w-container {
    flex-direction: column;
  }

  .difference .content {
    width: 100%;
    padding: clamp(80px, 4vw, 120px) 0;
  }

  .difference .content .prod-grid {
    width: 90%;
    margin: 0 auto;
  }
}

/* ========================================
   RESPONSIVE : MOBILE
======================================== */

@media (max-width: 768px) {
  /* LEFT */

  .difference .content.left .prod-grid {
    gap: 10px;
  }

  .difference .content.left .grid-item {
    aspect-ratio: auto;
    padding: 20px;
    border-radius: 20px;
    transform: none;
  }

  /* RIGHT */

  .difference .content.right .prod-grid {
    width: 90%;
    gap: 10px;

    background-color: transparent;
  }

  .difference .content.right .grid-item {
    aspect-ratio: auto;
    padding: 20px;

    border: 1px solid #ddd;
    border-radius: 20px;
  }

  .difference .content.left .grid-item:nth-child(1) {
    transform: translate(0, 0);
  }

  .difference .content.left .grid-item:nth-child(2) {
    transform: translate(0, 0);
  }

  .difference .content.left .grid-item:nth-child(3) {
    transform: translate(0, 0);
  }

  .difference .content.left .grid-item:nth-child(4) {
    transform: translate(0, 0);
  }
}

/* System */
.custom-wrap .system {
  padding-top: 0;
}

.system .w-container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/gms-02.jpg") center/cover no-repeat;
  padding: 80px 0;
  margin-bottom: var(--section-gap);
}

.system .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 0;
}
.system .section-title h1 {
  margin: 20px 0 0 0;
}

.system .system-desc p {
  font-size: clamp(14px, 1vw, 18px);
  color: #fff;
}

.system .prod-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.system .grid-txt {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 0 0 10px 0;
}

/* Product */
.custom-wrap .prod1 {
  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url("https://ecimg.cafe24img.com/pg3350b13371685013/wooboeco/img/gms-09.jpg")
      center/cover no-repeat;
}

.custom-wrap .prod2 {
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("https://ecimg.cafe24img.com/pg3350b13371685013/wooboeco/img/gms-11.jpg")
      center/cover no-repeat;
}

.product .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--section-gap);
}

.product .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--section-gap);
}

.product .metrics {
  width: 100%;
}

.product .metrics h4 {
  margin-bottom: 20px;
}

.product .prod-title {
  grid-template-rows: 2 span;
}

.product .prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product .grid-item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 24px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.product .grid-icon {
  width: 24px;
}

.product .grid-desc {
  font-size: 16px;
  color: #333;
}

.prod1 .right {
  height: 800px;
}
.prod2 .right {
  height: 300px;
}

.product .right img {
  object-fit: contain;
}

/* Benefits */
.benefits .prod-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.benefits .grid-item {
  border: 1px solid var(--point1);
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.benefits .grid-icon {
  width: clamp(32px, 6vw, 80px);
}

.benefits .grid-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
